<% include partials/head %>
<main>
    <form action= "/edit" method="POST">
        <div>
            <input type = "text" class= "form-control" name="title" value="<%= title %>">
        </div>
        <div>
            <input type = "text" class= "form-control" name="permalink" value="<%= permalink %>">
        </div>
        <div>
            <input type = "text" class= "form-control" name="author" value="<%= author %>">
        </div>
        <div>
            <label for= "postContent">Post Content:</label>
            <textarea class="form-control" id="postContent" name="postContent"><%= content %> </textarea>
        </div>
        <div>
            <input type="hidden" id="postID" name="id" value="<%= id %>">
            <button type="submit">Update Post</button>
            <button type="reset"><a href="/">Cancel</a></button>
        </div>
        
    </form>

</main>
<% include partials/foot %>