   <% include partials/head %>
   
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>DataSource = <%= dataSource %></p>
    <p>Number of Posts= <%= postCount %></p>

    <main>
        <% for(var i = 0; i< posts.length; i++){%>
            <h1><a href= "/post/<%=posts[i].permalink %>"> <%= posts[i].title %></a></h1>
            <div><%- posts[i].postContent %></div>
            
        <%}%>

    </main>


    <% include partials/foot %>